# file .gitignore
*%
*.orig
*.bak
*~
*.o
*.so
*.gch

## executables
monimelt
dumpsqlmonimelt

## generated
_timestamp.*

## core dumps
core*
vgcore*

## sqlite db
*.sqlite
*sqlite*~-journal

## emitted test output
_test*.out
