/* file browsermom.css */
body {
    background-color: lightyellow;
}

p.namedtitle_cl {
    background-color: azure;
    color: firebrick;
    font-family: Arial;
    font-size: 12.5pt;
}

p.anontitle_cl {
    background-color: lightpink;
    color: navy;
    font-family: inconsolata;
    font-size: 12.5pt;
}
    
tt.namedid_cl {
    color: navy;
    font-size: 9pt;
    font-style: italic;
    font-family: DejaVu Sans Mono;
}
